{% extends 'base/base.html' %}
{% load custom_filters %}

{% block content %}
<div class="container mt-5">
    <div class="d-flex align-items-center alturaMaior">
        <div class="col-12 col-md-8 col-lg-6 mx-auto">
            <h2 class="mb-4 text-center zoomable">ATUALIZAR <strong>INFORMAÇÕES - HOSPITAL</strong></h2>
            <form method="post" action="{% url 'edit_hospital' hospital.id %}">
                {% csrf_token %}

                <!-- NOME Field -->
                <div class="mb-3 row">
                    <label for="nome" class="col-md-3 col-form-label zoomable"><strong>NOME</strong></label>
                    <div class="col-md-9">
                        {{ form.nome|add_class:"form-control zoomable" }}
                    </div>
                </div>

                <!-- CEP Field -->
                <div class="mb-3 row">
                    <label for="cep" class="col-md-3 col-form-label zoomable"><strong>CEP</strong></label>
                    <div class="col-md-9">
                        {{ form.cep|add_class:"form-control zoomable" }}
                    </div>
                </div>

                <!-- LOGRADOURO Field -->
                <div class="mb-3 row">
                    <label for="logradouro" class="col-md-3 col-form-label zoomable"><strong>LOGRADOURO</strong></label>
                    <div class="col-md-9">
                        {{ form.logradouro|add_class:"form-control zoomable" }}
                    </div>
                </div>

                <!-- NÚMERO Field -->
                <div class="mb-3 row">
                    <label for="numero" class="col-md-3 col-form-label zoomable"><strong>NÚMERO</strong></label>
                    <div class="col-md-9">
                        {{ form.numero|add_class:"form-control zoomable" }}
                    </div>
                </div>

                <!-- COMPLEMENTO Field -->
                <div class="mb-3 row">
                    <label for="complemento" class="col-md-3 col-form-label zoomable"><strong>COMPLEMENTO</strong></label>
                    <div class="col-md-9">
                        {{ form.complemento|add_class:"form-control zoomable" }}
                    </div>
                </div>

                <!-- BAIRRO Field -->
                <div class="mb-3 row">
                    <label for="bairro" class="col-md-3 col-form-label zoomable"><strong>BAIRRO</strong></label>
                    <div class="col-md-9">
                        {{ form.bairro|add_class:"form-control zoomable" }}
                    </div>
                </div>

                <!-- CIDADE Field -->
                <div class="mb-3 row">
                    <label for="cidade" class="col-md-3 col-form-label zoomable"><strong>CIDADE</strong></label>
                    <div class="col-md-9">
                        {{ form.cidade|add_class:"form-control zoomable" }}
                    </div>
                </div>

                <!-- LATITUDE Field -->
                <div class="mb-3 row">
                    <label for="latitude" class="col-md-3 col-form-label zoomable"><strong>LATITUDE</strong></label>
                    <div class="col-md-9">
                        {{ form.latitude|add_class:"form-control zoomable" }}
                    </div>
                </div>

                <!-- LONGITUDE Field -->
                <div class="mb-3 row">
                    <label for="longitude" class="col-md-3 col-form-label zoomable"><strong>LONGITUDE</strong></label>
                    <div class="col-md-9">
                        {{ form.longitude|add_class:"form-control zoomable" }}
                    </div>
                </div>

                <!-- TELEFONE Field -->
                <div class="mb-3 row">
                    <label for="telefone" class="col-md-3 col-form-label zoomable"><strong>TELEFONE</strong></label>
                    <div class="col-md-9">
                        {{ form.telefone|add_class:"form-control zoomable" }}
                    </div>
                </div>

                <!-- FORMA DE ENTRADA Field -->
                <div class="mb-3 row">
                    <label for="forma_entrada" class="col-md-3 col-form-label zoomable"><strong>ENTRADA</strong></label>
                    <div class="col-md-9">
                        {{ form.forma_entrada|add_class:"form-select zoomable" }}
                    </div>
                </div>

                <!-- Submit Button -->
                <div class="mb-3 row">
                    <div class="col-12 text-center">
                        <button type="submit" class="btn btn-danger offset-lg-9 zoomable">ATUALIZAR HOSPITAL</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}