{% extends "base/base.html" %}

{% block title %}PEVAM{% endblock %}

{% load static %}

{% block content %}
<div class="container-fluid" style="height: calc(100vh - 60px);"> <!-- Ajuste a altura do navbar, geralmente 56px para Bootstrap padrão -->
    <div class="d-flex align-items-center justify-content-center h-100">
        <div class="row mb-5 text-center text-lg-left justify-content-center align-items-center centralElements">
		
            <div class="col-12 col-md-6 mb-3">
                <img src="{% static 'img/pevam_logo.svg' %}" alt="Logo PEVAM" class="img-fluid zoomable" style="max-width: 200px; height: auto;">
            </div>

            <div class="col-12 col-md-6">
                <h1 class="mainTitle zoomable">BEM VINDO(A)!</h1>
                <p class="zoomable">GERE DE MANEIRA EFETIVA OS PLANOS DE EVACUAÇÃO DA EQUIPE</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}
