{% extends 'base/base.html' %}

{% block content %}
<div class="container d-flex align-items-center justify-content-center" style="height: calc(100vh - 60px);"> <!-- Centraliza na vertical e horizontalmente -->
    <div class="w-100" style="max-width: 600px;">
        <h1 class="mb-4 text-center zoomable">CADASTRAR <strong>HOSPITAL</strong></h1>
        <form id="cadastroHospitalForm">
            {% csrf_token %}

            <div class="mb-3 row">
                <label for="nome" class="col-md-3 col-form-label zoomable"><strong>NOME</strong></label>
                <div class="col-md-9">
                    <input type="text" id="nome" name="nome" class="form-control zoomable" placeholder="Nome do Hospital" required>
                </div>
            </div>

            <div class="mb-3 row">
                <label for="cep" class="col-md-3 col-form-label zoomable"><strong>CEP</strong></label>
                <div class="col-md-9">
                    <input type="text" id="cep" name="cep" class="form-control zoomable" placeholder="Digite o CEP" maxlength="8" required>
                </div>
            </div>

            <div class="mb-3 row">
                <label for="logradouro" class="col-md-3 col-form-label zoomable"><strong>LOGRADOURO</strong></label>
                <div class="col-md-9">
                    <input type="text" id="logradouro" name="logradouro" class="form-control zoomable" placeholder="Logradouro" readonly required>
                </div>
            </div>

            <div class="mb-3 row">
                <label for="numero" class="col-md-3 col-form-label zoomable"><strong>NÚMERO</strong></label>
                <div class="col-md-9">
                    <input type="text" id="numero" name="numero" class="form-control zoomable" placeholder="Número" required>
                </div>
            </div>

            <div class="mb-3 row">
                <label for="complemento" class="col-md-3 col-form-label zoomable"><strong>COMPLEMENTO</strong></label>
                <div class="col-md-9">
                    <input type="text" id="complemento" name="complemento" class="form-control zoomable" placeholder="Complemento">
                </div>
            </div>

            <div class="mb-3 row">
                <label for="bairro" class="col-md-3 col-form-label zoomable"><strong>BAIRRO</strong></label>
                <div class="col-md-9">
                    <input type="text" id="bairro" name="bairro" class="form-control zoomable" placeholder="Bairro" readonly required>
                </div>
            </div>

            <div class="mb-3 row">
                <label for="cidade" class="col-md-3 col-form-label zoomable"><strong>CIDADE</strong></label>
                <div class="col-md-9">
                    <input type="text" id="cidade" name="cidade" class="form-control zoomable" placeholder="Cidade" readonly required>
                </div>
            </div>

            <div class="mb-3 row">
                <label for="latitude" class="col-md-3 col-form-label zoomable"><strong>LATITUDE</strong></label>
                <div class="col-md-9">
                    <input type="text" id="latitude" name="latitude" class="form-control zoomable" placeholder="Latitude" required>
                </div>
            </div>

            <div class="mb-3 row">
                <label for="longitude" class="col-md-3 col-form-label zoomable"><strong>LONGITUDE</strong></label>
                <div class="col-md-9">
                    <input type="text" id="longitude" name="longitude" class="form-control zoomable" placeholder="Longitude" required>
                </div>
            </div>

            <div class="mb-3 row">
                <label for="telefone" class="col-md-3 col-form-label zoomable"><strong>TELEFONE</strong></label>
                <div class="col-md-9">
                    <input type="text" id="telefone" name="telefone" class="form-control zoomable" placeholder="Telefone" maxlength="10" required>
                </div>
            </div>
            <div class="mb-3 row">
                <label for="forma-de-entrada" class="col-md-3 col-form-label zoomable"><strong>ENTRADA</strong></label>
                <div class="col-md-9">
                    <select id="id-forma-de-entrada" name="forma-de-entrada" class="form-select zoomable" required>
                        <option value="" disabled selected>Reserva de vaga</option>
                        <option value="porta aberta">Porta Aberta</option>
                        <option value="necessita regulação">Necessita Regulação</option>
                    </select>
                </div>
            </div>

            <div class="mb-3 row">
                <div class="col-12 text-center"> <!-- Centraliza o botão -->
                    <button type="submit" class="btn btn-danger offset-lg-9 zoomable">SALVAR HOSPITAL</button>
                </div>
            </div>
        </form>

        <!-- Mensagem de sucesso/erro -->
        <div id="mensagem" class="mt-3"></div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script>
document.getElementById('cadastroHospitalForm').addEventListener('submit', function(event) {
    event.preventDefault();  // Impede o envio padrão do formulário
    const form = event.target;
    const formData = new FormData(form);

    fetch('{% url "hospital" %}', {
        method: 'POST',
        body: formData,
        headers: {
            'X-CSRFToken': formData.get('csrfmiddlewaretoken')
        }
    })
    .then(response => response.json())
    .then(data => {
        if (data.success) {
            Swal.fire({
                icon: 'success',
                title: 'Sucesso!',
                text: 'Hospital cadastrado com sucesso!',
                confirmButtonText: 'Ok'
            });
        } else {
            Swal.fire({
                icon: 'error',
                title: 'Erro!',
                text: data.message || 'Erro ao cadastrar hospital.',
                confirmButtonText: 'Ok'
            });
        }
    })
    .catch(error => {
        Swal.fire({
            icon: 'error',
            title: 'Erro!',
            text: 'Erro ao enviar o formulário. Tente novamente mais tarde.',
            confirmButtonText: 'Ok'
        });
        console.error("Erro:", error);
    });
});

// Lógica para buscar o CEP (mesma lógica usada anteriormente)
document.getElementById('cep').addEventListener('blur', function() {
    const cep = this.value.replace(/\D/g, '');
    if (cep.length === 8) {
        fetch(`https://viacep.com.br/ws/${cep}/json/`)
            .then(response => response.json())
            .then(data => {
                if (!data.erro) {
                    document.getElementById('logradouro').value = data.logradouro;
                    document.getElementById('bairro').value = data.bairro;
                    document.getElementById('cidade').value = data.localidade;
                    document.getElementById('mensagem').textContent = ''; // Limpa mensagem de erro
                } else {
                    document.getElementById('mensagem').textContent = 'CEP não encontrado.';
                    limparCamposEndereco();
                }
            })
            .catch(() => {
                document.getElementById('mensagem').textContent = 'Erro ao buscar o CEP.';
                limparCamposEndereco();
            });
    } else {
        document.getElementById('mensagem').textContent = 'CEP inválido.';
        limparCamposEndereco();
    }
});

function limparCamposEndereco() {
    document.getElementById('logradouro').value = '';
    document.getElementById('bairro').value = '';
    document.getElementById('cidade').value = '';
}
</script>
{% endblock %}
