{% extends 'base/base.html' %}

{% block content %}
<div class="container mt-5">
    <div class="d-flex align-items-center alturaMaior">
        <div class="col-12 col-md-8 col-lg-6 mx-auto"> <!-- Centraliza horizontalmente e ajusta o tamanho da coluna -->
            <h1 class="text-center mb-4 zoomable">CADASTRAR <strong>POLICIAL</strong></h1>
            <form id="cadastroPessoaForm" method="post">
                {% csrf_token %}
                
                <!-- Policial fields -->
                <div class="mb-3 row">
                    <label for="id_numero_registro" class="col-sm-4 col-form-label zoomable"><strong>N° REGISTRO</strong></label>
                    <div class="col-sm-8">
                        <input type="text" id="id_numero_registro" name="numero_registro" class="form-control zoomable"
                            placeholder="10.001" required>
                    </div>
                </div>
                
                <div class="mb-3 row">
                    <label for="id_nome" class="zoomable col-sm-4 col-form-label"><strong>NOME</strong></label>
                    <div class="col-sm-8">
                        <input type="text" id="id_nome" name="nome" class="form-control zoomable" placeholder="João da Silva" required>
                    </div>
                </div>
                
                <div class="mb-3 row">
                    <label for="id_lotacao" class="col-sm-4 col-form-label zoomable"><strong>LOTAÇÃO</strong></label>
                    <div class="col-sm-8">
                        <input type="text" id="id_lotacao" name="lotacao" class="form-control zoomable"
                            placeholder="DELEGACIA DE CAMPINAS" required>
                    </div>
                </div>
                
                <div class="mb-3 row">
                    <label for="id_tipo_sanguineo" class="col-sm-4 col-form-label zoomable"><strong>TIPO SANGUÍNEO</strong></label>
                    <div class="col-sm-8">
                        <select id="id_tipo_sanguineo" name="tipo_sanguineo" class="form-select zoomable" required>
                            <option value="" disabled selected>Escolha um tipo de sangue</option>
                            <option value="A+">A+</option>
                            <option value="A-">A-</option>
                            <option value="B+">B+</option>
                            <option value="B-">B-</option>
                            <option value="AB+">AB+</option>
                            <option value="AB-">AB-</option>
                            <option value="O+">O+</option>
                            <option value="O-">O-</option>
                        </select>
                    </div>
                </div>
                
                <div class="mb-3 row">
                    <label for="id_plano_saude" class="col-sm-4 col-form-label zoomable"><strong>PLANO DE SAÚDE</strong></label>
                    <div class="col-sm-8">
                        <input type="text" id="id_plano_saude" name="plano_saude" class="form-control zoomable"
                            placeholder="UNIMED" required>
                    </div>
                </div>

                <div class="mb-3 row">
                    <label for="id_numero_plasau" class="col-sm-4 col-form-label zoomable"><strong>NÚMERO DO PLANO DE SAÚDE</strong></label>
                    <div class="col-sm-8">
                        <input type="text" id="id_numero_plasau" name="numero_plasau" class="form-control zoomable"
                            placeholder="0000000" required>
                    </div>
                </div>

                <!-- Emergency Contacts Section -->
                <h3 class="mt-4">Contatos de Emergência</h3>
                <div id="emergencyContacts">
                    <div class="emergency-contact mb-3">
                        <div class="mb-3 row">
                            <label class="col-sm-4 col-form-label zoomable"><strong>Nome do Contato</strong></label>
                            <div class="col-sm-8">
                                <input type="text" name="contatoemergencia_set-0-nome_contato" class="form-control" placeholder="Nome do Contato" required>
                            </div>
                        </div>
                        <div class="mb-3 row">
                            <label class="col-sm-4 col-form-label zoomable"><strong>Celular do Contato</strong></label>
                            <div class="col-sm-8">
                                <input type="text" name="contatoemergencia_set-0-celular_contato" class="form-control" placeholder="Celular do Contato" required>
                            </div>
                        </div>
                        <div class="mb-3 row">
                            <label class="col-sm-4 col-form-label zoomable"><strong>Email do Contato</strong></label>
                            <div class="col-sm-8">
                                <input type="email" name="contatoemergencia_set-0-email_contato" class="form-control" placeholder="Email do Contato" required>
                            </div>
                        </div>
                    </div>
                </div>
                <button type="button" id="addContactBtn" class="btn btn-secondary mt-2">Add Another Contact</button>

                <div class="mb-3 row mt-4">
                    <div class="col-sm-8 offset-lg-4 text-end">
                        <button type="submit" class="btn btn-danger zoomable">CADASTRAR</button>
                    </div>
                </div>
            </form>

            <div id="mensagem" class="mt-3"></div>
        </div>
    </div>
</div>

<script>

document.getElementById('id_numero_registro').addEventListener('input', function (e) {
        e.target.value = e.target.value.replace(/[^0-9.-]/g, '');
    });

document.getElementById('id_numero_plasau').addEventListener('input', function (e) {
	e.target.value = e.target.value.replace(/[^0-9.-]/g, '');
});

document.getElementById("addContactBtn").addEventListener("click", function() {
    const emergencyContacts = document.getElementById("emergencyContacts");
    const contactCount = document.querySelectorAll(".emergency-contact").length;
    const newContactHtml = `
        <div class="emergency-contact mb-3">
            <div class="mb-3 row">
                <label class="col-sm-4 col-form-label zoomable"><strong>Nome do Contato</strong></label>
                <div class="col-sm-8">
                    <input type="text" name="contatoemergencia_set-${contactCount}-nome_contato" class="form-control" placeholder="Nome do Contato" required>
                </div>
            </div>
            <div class="mb-3 row">
                <label class="col-sm-4 col-form-label zoomable"><strong>Celular do Contato</strong></label>
                <div class="col-sm-8">
                    <input type="text" name="contatoemergencia_set-${contactCount}-celular_contato" class="form-control" placeholder="Celular do Contato" required>
                </div>
            </div>
            <div class="mb-3 row">
                <label class="col-sm-4 col-form-label zoomable"><strong>Email do Contato</strong></label>
                <div class="col-sm-8">
                    <input type="email" name="contatoemergencia_set-${contactCount}-email_contato" class="form-control" placeholder="Email do Contato" required>
                </div>
            </div>
        </div>
    `;
    emergencyContacts.insertAdjacentHTML("beforeend", newContactHtml);
});
</script>
{% endblock %}