body {
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #b2b4b6;
	height: 100vh;
}

.fixed-bottom-left, .fixed-bottom-right {
    position: fixed;
    bottom: 1rem;
}

.fixed-bottom-left {
    left: 1rem;
    color: #000000;
    font-size: 1rem;
}

.fixed-bottom-right {
    right: 1rem;
    max-width: 150px;
}

.globalWrapper {
    height: 100%;
}

.filler {
	height: 25%;
}

.btn-custom:hover {
    background-color: #c82333; /* Cor ao passar o mouse */
}

.select2-container--default .select2-selection--multiple {
    background-color: #fff;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice {
    background-color: #dc3545; /* Cor do tema */
    border: none;
    color: #fff;
}

.policial-checkboxes {
    max-height: 300px;
    overflow-y: auto;
    border: 1px solid #ced4da;
    padding: 10px;
    border-radius: 5px;
}

.pevamField {
	width: 60%;
}

.mainTitle {
	font-weight: 700;
}

.navItemBold {
	font-weight: 500;
}



/* Responsive adjustments */
@media (max-width: 768px) {
    .containerPolicial {
        padding: 1rem;
    }

    .mb-3.row {
        flex-direction: column;
        align-items: flex-start;
    }

    .mb-3.row .col-sm-2,
    .mb-3.row .col-sm-4 {
        width: 100%;
    }

    .btn {
        width: 100%;
    }
}

/* Adjust bottom fixed content for smaller screens */
@media (max-height: 600px) {
    .fixed-bottom-left, .fixed-bottom-right {
        font-size: 0.9rem;
    }
}